/*Specials CSS Code Adjustments*/
#content #rightSpecial ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#content #rightSpecial ul li {
    border-top: 1px solid #E7E7E7;
    overflow: hidden;
}

#content #rightSpecial ul li:hover {
    background-color: #fbfbfb;
}
#content #rightSpecial ul li:first-child {
    border-width: none;
}

#content #rightSpecial ul li .img {
    background-color: #FFFFFF;
    float: left;
    height: 94px;
    text-align: center;
    width: 113px;
}

#content #rightSpecial ul li .img img {
    height: 70px;
    margin-top: 11px;
    width: 70px;
}

#content #rightSpecial ul li .info {
    float: left;
    overflow: hidden;
    padding: 17px 0 0 21px;
    width: 164px;
}

#content #rightSpecial ul li .info .price {
    color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding-top: 25px;
}

#content #rightSpecial ul li .info .price .usual, #content #right ul li .info .price .special {
    color: #7F7F7F;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    padding-right: 6px;
    text-decoration: line-through;
}

#content #rightSpecial ul li .info .price .special {
    color: #FD7A01;
    font-weight: bold;
    text-decoration: none;
}

#content #rightSpecial {
    margin-left: 0;
    width: 90%;
}



/*Products CSS Code adjustments*/
#content #leftProds ul li {
    float:left;
    padding-bottom: 21px;
    width: 33%;
}

#content #leftProds ul li:hover {
    background-color: #fbfbfb;
}

#content #leftProds ul li .img {
    text-align: center;
}

#content #leftProds ul li .img img {
    height:128px;
    width:128px;
}

#content #leftProds ul li .info {
    padding: 17px 20px 0 19px;
}

#content #leftProds ul li .info p {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    padding-top: 3px;
}
#content #leftProds ul li .info .price {
    background: none repeat scroll 0 0 #F7F7F7;
    color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 17px 0 10px;
    padding: 6px 0 6px 8px;
}

#content #leftProds ul li .info .price .st {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    margin-right: 3px;
}

#content #leftProds ul li .info .actions {
    overflow:hidden;
}
#content #leftProds ul li .info .actions a {
    border: 1px solid #E0E0E0;
    color: #fd7a01;
    display: block;
    float:right;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    padding: 5px;
    text-decoration: none;
}
#content #leftProds ul li .info .actions a:first-child {
    color: #009832;
    float:left;
}
